## 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [56]:
years_list = [1980 , 1981 , 1982 , 1983 , 1994 , 1985]
year = int(input("Enter Year:- "))

for i in range(len(years_list)):

    if  years_list[i] == year :
      print("Found")
      break
    print("Not Found")
    break

Enter Year:- 1980
Found

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [57]:
years_list = [1980 , 1981 , 1982 , 1983 , 1994 , 1985]

years_list[2]

1982

## 3.In the years list, which year were you the oldest?

In [58]:
years_list[-2]

1994

4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [65]:
str_list = ["mozzarella", "cinderella", "salmonella"]
str_list1 = []

In [77]:
for i in range(len(str_list)):
  print(str_list[i].upper())

MOZZARELLA
CINDERELLA
SALMONELLA

6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [78]:
new_list = ["Groucho" , "Chico" , "Harpo"]
new_list1 = str_list = new_list

In [80]:
print(new_list1)

['Groucho', 'Chico', 'Harpo']

In [81]:
str_list

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [96]:
str_list = ['Groucho', 'Chico', 'Harpo']
str_list1 = []
str_list.reverse()
for i in range(len(str_list)):

   str_list1.append(str_list[i].upper())
print(str_list1)

['HARPO', 'CHICO', 'GROUCHO']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [98]:
dic = {"Dog" : "Chien" , "Cat" : "Chat" , "walrus" : "morse"}
print(dic)

{'Dog': 'Chien', 'Cat': 'Chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [100]:
list(dic.values())

['Chien', 'Chat', 'morse']

11. Print the English version of the French word chien using f2e.

In [116]:
dic = {"Dog" : "Chien" , "Cat" : "Chat" , "walrus" : "morse"}
dic["Dog"]

'Chien'

12 Make and print a set of English words from the keys in e2f.

In [113]:
dic = {"Dog" : "Chien" , "Cat" : "Chat" , "walrus" : "morse"}
list(dic.keys())

['Dog', 'Cat', 'walrus']